<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!--meta content-->
  <link rel="shortcut icon" href="public/favicon.ico" />
  <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <link rel="stylesheet" href="css/miniMidi.css" id="theme" />
  <title>Come to Rumyras party!</title>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script src="audioVisual.js"></script>
</head>
<body>
<div class="container">

  <section id="party-invite">
    <h2>You've been invited to Ruth's Party!</h2>
    <form method="post" action="/">
      <label for="git-name">Please enter your github username (or just <i>octocat</i>) to accept the invite:</label>
      <input type="text" name="git-name" id="git-name" placeholder="octocat" />
      <input type="submit" value="Join The Party" />
    </form>
  </section>

  <section id="holding">
    <h2>Heya ... welcome to the party! Hang in there - the awesome is just about to start!</h2>
    <p>Don't close your browser :)</p>
  </section>

  <section id="music-midi-control">
    <button class="pad">MIDI PAD</button>
    <div class="dial">
      <div class="knob"></div>
      <div class="dial-active"></div>
    </div>
  </section>

  <section id="visual-midi-control">
    <button class="pad">MIDI PAD</button>
    <div class="dial">
      <div class="knob"></div>
      <div class="dial-active"></div>
    </div>
  </section>

</div>

<div id="pusher" data-key="{{PUSH_KEY}}"></div>
<script type="text/javascript">

  // dom vars
  var inviteDiv = document.getElementById('party-invite'),
    holdingDiv = document.getElementById('holding'),

    musicMidi = document.getElementById('music-midi-control'),
    musicPad = musicMidi.getElementsByClassName('pad')[0],
    musicDial = musicMidi.getElementsByClassName('dial')[0],
    musicKnob = musicMidi.getElementsByClassName('knob')[0],
    musicActive = musicMidi.getElementsByClassName('dial-active')[0],

    visualMidi = document.getElementById('visual-midi-control'),
    visualPad = visualMidi.getElementsByClassName('pad')[0],
    visualDial = visualMidi.getElementsByClassName('dial')[0],
    visualKnob = visualMidi.getElementsByClassName('knob')[0],
    visualActive = visualMidi.getElementsByClassName('dial-active')[0];

document.body.addEventListener("touchmove", function(ev) {
  ev.preventDefault();
});
  // establish connection with pusher
  var config = document.getElementById('pusher').dataset;
  var pusher = new Pusher(config.key, {encrypted:true});

  Pusher.channel_auth_endpoint = 'http://39367a56.ngrok.io/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });

  // subscribe to channel
  var channel = pusher.subscribe('private-party_channel');

  channel.bind('pusher:subscription_succeeded', function() {
    console.log('subscription succeeded');
  });

// Form stuff ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  

// var username = '';
// var avatar = '';
var inviteForm = document.forms[0];
var octocats = ['daftpunktocat-guy.gif','daftpunktocat-thomas.gif','femalecoder.png','front-end-conftocat.png','ironcat.jpg','murakamicat.png','plumber.jpg','spidertocat.png','spocktocat.png','twenty-percent.png','xtocat.jpg'];

function formStuff() {
  
  console.log(inviteForm);

  if ( (inviteForm['git-name'].value == '') ) {

    var label = inviteForm.querySelector('label');
    label.className = 'label-warn';

  } else {

    // grab username
    cleanString = inviteForm['git-name'].value.replace(/[^a-zA-Z0-9-\s]/g, '').replace(/\s+/g, '').toLowerCase();
    username = cleanString;
    // send event
    if (username === 'octocat') {
      var octoId = getRandomInt(1,999);
      username = username+octoId;
      avatar = 'images/octocat/'+octocats[octoId%11];
      sendUser(username, avatar);
    } else {
      getGitAvatar(username);  
    }
    // show hide form
    inviteDiv.style.display = 'none';
    holdingDiv.style.display = 'block';
    localStorage.setItem('page', '2');
    localStorage.setItem('name',username);
  }
}
inviteForm.addEventListener("submit", function(ev) {
  ev.preventDefault();
  formStuff();
  console.log(username);  
});

function getGitAvatar(username) {
  function getPicUrl() {
    var responseObj = JSON.parse(this.responseText);
    // console.log(responseObj.avatar_url);
    avatar = responseObj.avatar_url;
    sendUser(username, avatar);
    // channel.trigger(
    //   'client-register_user',
    //   {
    //     "userId": username,
    //     "userAvatar": avatar
    //   }
    // );
    localStorage.setItem('pic',avatar);
  }
  var request = new XMLHttpRequest();
  request.onload = getPicUrl;
  request.open('get', 'https://api.github.com/users/'+username, true)
  request.send()
}

function sendUser(name, pic) {
  channel.trigger(
    'client-register_user',
    {
      "userId": name,
      "userAvatar": pic
    }
  );
}

// audio stuff
channel.bind('client-show_music', function(data) {
  inviteDiv.style.display = 'none';
  holdingDiv.style.display = 'none';
  musicMidi.style.display = 'block';
  dial(musicDial, musicKnob, musicActive);
  localStorage.setItem('page','3');
});
var audioAPI = new (window.AudioContext || window.webkitAudioContext)();
var oscillator,
  freqIndex = getRandomInt(0,5),
  frequency = oscillatorOpts.frequencies[freqIndex],
  fxIndex = getRandomInt(1,3),
  waveIndex = getRandomInt(0,2),
  waveType = oscillatorOpts.waveTypes[waveIndex],
  playing = false;
  console.log(freqIndex+'-'+fxIndex+'-'+waveIndex);

musicPad.addEventListener('click', function(event) {
  if (playing) {
    destroyOsc(oscillator.osc, oscillator.fx, oscillator.gain);
    playing = false;
    musicPad.classList.remove('pad-active');
  } else {
    oscillator = createOsc(audioAPI, frequency, fxIndex, waveType);
    switch (fxIndex) {
      case 1:
        updateFxOne();
        break;
      case 2:
        updateFxTwo();
        break;
      case 3:
        updateFxThree();
        break;
    }
    playing = true;
    musicPad.classList.add('pad-active');
  }
  channel.bind('client-stop_music', function(data) {
    oscillator.gain.gain.value = 0;
  });
});


function updateFxOne() {
  requestAnimationFrame(updateFxOne);
  oscillator.fx.frequency.value = (dialVal*10)+200;
}
function updateFxTwo() {
  requestAnimationFrame(updateFxTwo);
  oscillator.fx.frequency.value = dialVal*10;
}
function updateFxThree() {
  requestAnimationFrame(updateFxThree);
  oscillator.fx.curve = makeDistortionCurve(dialVal*10);
}


// Visual demo
channel.bind('client-show_visual', function(data) {
  console.log(data);
  inviteDiv.style.display = 'none';
  holdingDiv.style.display = 'none';
  musicMidi.style.display = 'none';
  visualMidi.style.display = 'block';
  document.getElementsByTagName('body')[0].className = 'midi-light';
  dialVal = 0;
  dial(visualDial, visualKnob, visualActive, true);
  localStorage.setItem('page','4');
});
// press button send invert event
var visualMidi = document.getElementById('visual-midi-control');
var visualPad = visualMidi.getElementsByClassName('pad')[0];

var inverted = false;
visualPad.addEventListener("click", function(ev) {
  inverted = inverted ? false : true;
  console.log('clicked');
  channel.trigger(
    'client-invert',
    {
      "userId": username,
      "invert": inverted
    }
  );
  if (inverted) {
    visualPad.classList.add('pad-active');
  } else {
    visualPad.classList.remove('pad-active');
  }
});
var sendRotate;
visualDial.addEventListener('mousedown', function(ev) {
  console.log('mousedown');
  sendRotate = window.setInterval(function() {
    console.log(dialVal);
    channel.trigger(
      'client-rotate',
      {
        "userId": username,
        "rotate": dialVal
      }
    );
  }, 300);
});
visualDial.addEventListener('mouseup', function() {
  console.log('mouseup');
  window.clearInterval(sendRotate);
});
visualDial.addEventListener('touchstart', function(ev) {
  console.log('touchstart');
  sendRotate = window.setInterval(function() {
    console.log(dialVal);
    channel.trigger(
      'client-rotate',
      {
        "userId": username,
        "rotate": dialVal
      }
    );
  }, 300);
});
visualDial.addEventListener('touchend', function() {
  console.log('touchend');
  window.clearInterval(sendRotate);
});


// if localstore is set show appropriate page
  if (localStorage.getItem('page') === '2') {
    inviteDiv.style.display = 'none';
    holdingDiv.style.display = 'block';
  } else if (localStorage.getItem('page') === '3') {
    inviteDiv.style.display = 'none';
    holdingDiv.style.display = 'none';
    musicMidi.style.display = 'block';
  } else if (localStorage.getItem('page') === '4') {

  }
  // set username and avatar
  if (localStorage.getItem('name')) {
    var username = localStorage.getItem('name');
  } else {
    var username = '';
  }
  if (localStorage.getItem('pic')) {
    var avatar = localStorage.getItem('pic');
  } else {
    var avatar = '';
  }

  channel.bind('client-end_talk', function(data) {
    localStorage.clear();
  });
</script>

</body>
</html>
